/* .container {
  width: 100%;
  height: 100%;
} */

.rootHeader{
  margin-left: 1em;
  margin-bottom: 1em;
}
.projectHeader {
  font-size: 120%;
  margin-top: 2em;
  margin-left: 1em;
  margin-bottom: 2em;
}
.projectHeader span {
  margin-left: 1em;
}
.projectHeader input {
  margin-left: 1em;
}
.btn-toolbar {
  margin-left: 1em;
}

.row{
  margin-left: 1em;
}

.dialogsList {
  width: 30%;
  margin-left: 1em;
}

.dialogItemListAddButton{
  float: right;
  margin-right: 1em;
  margin-top: 1.5em;
}
.deleteButton {
  color: red;
  float: right;
}
/* Buttons in the lists: */
.glyphicon-check {
  margin-right: 2em;
}
.glyphicon-unchecked {
  margin-right: 2em;
}
